html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-image: url("mustardbackground.avif");
    background-size: 10%;
}

#topbar {
    width: 100%;
    text-align: center;
    background-color: black;
    border-bottom: 3px white solid;
}

#pagetitle {
    color: yellow;
    size: 50px;
    margin: 0;
    padding-top: 16px;
}

.text {
    color: white;
}

#navbar {
    list-style-type: none;
    padding: 0;
}

#navbar > li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.navbartext {
    margin: 0;
}

.flexcontainer {
    display: flex;
    outline: 2px solid white;
}

.flexcontainer > div {
    width: 33.33%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.flexcontainer > div > img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#box1 {
    background-color: yellow;
}

#box2 {
    background-color: wheat;
}

#box3 {
    background-color: brown;
}

.flexcontainer > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flexcontainer > div > div > p {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.headingcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: white;
    font-size: 50px;
    width: fit-content;
    outline: 2px solid white;
    padding: 5px;
    background-color: black;
}

#recipecontainer {
    background-color: black;
    outline: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#recipecontainer > img {
    width: 20%;
}

#recipecontainer > div {
    width: 50%;
    height: 290px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#recipecontainer > div >  h1 {
    font-size: 35px;
    margin: 0;
    color: white;
}

#recipecontainer > div > ul > li {
    font-size: 17px;
    color: white;
}

#recipecontainer > div > ol > li {
    font-size: 17px;
    color: white;
}

#quizcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quizcontainer > div {
    width: fit-content;
    background-color: black;
    border: 2px solid white;
}

#quizcontainer > div > ol > li {
    color: white;
}

#quizcontainer > div > ol {
    padding-right: 30px;
}

label {
    display: flex;
    align-items: center;
}

#quizcontainer > div > ol > ul > li > label > span > p {
    color: white;
    margin: 3px;
}

#quizcontainer > div > ol > ul {
    list-style-type: none;
}

#quizcontainer > div {
    padding-left: 150px;
    padding-right: 150px;
}